## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Evan Moody
# 11/15/2021

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Severo-Kurilsk,RU,50.6789,156.1250,35.64,63,59,26.42,broken clouds,2021-11-16 01:46:34
1,1,Serenje,ZM,-13.2325,30.2352,60.94,75,1,4.03,clear sky,2021-11-16 01:46:35
2,2,New Norfolk,AU,-42.7826,147.0587,56.75,61,96,3.00,overcast clouds,2021-11-16 01:46:35
3,3,Punta Arenas,CL,-53.1500,-70.9167,44.71,65,20,17.27,few clouds,2021-11-16 01:46:35
4,4,Chancay,PE,-11.5714,-77.2672,66.33,83,99,6.31,overcast clouds,2021-11-16 01:46:36

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
13,13,Bella Union,UY,-30.2752,-57.6007,76.12,57,23,2.98,few clouds,2021-11-16 01:46:41
15,15,Hilo,US,19.7297,-155.0900,84.27,86,90,12.66,light rain,2021-11-16 01:43:14
20,20,Maragogi,BR,-9.0122,-35.2225,78.60,81,51,11.25,broken clouds,2021-11-16 01:46:44
23,23,Cabo San Lucas,MX,22.8909,-109.9124,83.50,74,100,2.93,overcast clouds,2021-11-16 01:46:23
28,28,Kapaa,US,22.0752,-159.3190,82.38,77,75,1.01,broken clouds,2021-11-16 01:46:47
29,29,Avarua,CK,-21.2078,-159.7750,77.05,78,20,4.61,few clouds,2021-11-16 01:46:47
32,32,Bengkulu,ID,-3.8004,102.2655,81.37,68,97,1.63,overcast clouds,2021-11-16 01:46:48
35,35,Kourou,GF,5.1552,-52.6478,82.11,86,34,6.49,scattered clouds,2021-11-16 01:46:49
40,40,Alofi,NU,-19.0595,-169.9187,82.29,51,40,14.97,scattered clouds,2021-11-16 01:46:52
46,46,Matara,LK,5.9485,80.5353,79.79,87,100,12.24,heavy intensity rain,2021-11-16 01:46:54

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                172
City                   172
Country                172
Lat                    172
Lng                    172
Max Temp               172
Humidity               172
Cloudiness             172
Wind Speed             172
Current Description    172
Date                   172
dtype: int64

In [8]:
preferred_cities_df.count()

City_ID                172
City                   172
Country                172
Lat                    172
Lng                    172
Max Temp               172
Humidity               172
Cloudiness             172
Wind Speed             172
Current Description    172
Date                   172
dtype: int64

In [9]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
13,13,Bella Union,UY,-30.2752,-57.6007,76.12,57,23,2.98,few clouds,2021-11-16 01:46:41
15,15,Hilo,US,19.7297,-155.0900,84.27,86,90,12.66,light rain,2021-11-16 01:43:14
20,20,Maragogi,BR,-9.0122,-35.2225,78.60,81,51,11.25,broken clouds,2021-11-16 01:46:44
23,23,Cabo San Lucas,MX,22.8909,-109.9124,83.50,74,100,2.93,overcast clouds,2021-11-16 01:46:23
28,28,Kapaa,US,22.0752,-159.3190,82.38,77,75,1.01,broken clouds,2021-11-16 01:46:47
...,...,...,...,...,...,...,...,...,...,...,...
629,629,Potiskum,NG,11.7091,11.0694,75.92,19,100,6.55,overcast clouds,2021-11-16 01:50:51
630,630,Labuan,MY,5.2767,115.2417,84.56,74,20,1.99,few clouds,2021-11-16 01:50:51
635,635,Auki,SB,-8.7676,160.7034,82.22,76,92,1.03,overcast clouds,2021-11-16 01:50:53
637,637,Hatillo,PR,18.4863,-66.8254,79.84,87,3,10.60,clear sky,2021-11-16 01:50:54
640,640,San Pedro,PH,14.3500,121.0167,87.31,68,90,5.75,overcast clouds,2021-11-16 01:50:55

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Bella Union,UY,76.12,few clouds,-30.2752,-57.6007,
15,Hilo,US,84.27,light rain,19.7297,-155.0900,
20,Maragogi,BR,78.60,broken clouds,-9.0122,-35.2225,
23,Cabo San Lucas,MX,83.50,overcast clouds,22.8909,-109.9124,
28,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,
29,Avarua,CK,77.05,few clouds,-21.2078,-159.7750,
32,Bengkulu,ID,81.37,overcast clouds,-3.8004,102.2655,
35,Kourou,GF,82.11,scattered clouds,5.1552,-52.6478,
40,Alofi,NU,82.29,scattered clouds,-19.0595,-169.9187,
46,Matara,LK,79.79,heavy intensity rain,5.9485,80.5353,

In [12]:
len(hotel_df)

172

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Bella Union,UY,76.12,few clouds,-30.2752,-57.6007,Monte Caseros
15,Hilo,US,84.27,light rain,19.7297,-155.0900,Hilo
20,Maragogi,BR,78.60,broken clouds,-9.0122,-35.2225,Maragogi
23,Cabo San Lucas,MX,83.50,overcast clouds,22.8909,-109.9124,Cabo San Lucas
28,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,Kapaʻa

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
preferred_cities_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# end of deliverable 2