## Deliverable 3. Create a Travel Itinerary Map.

In [ ]:
# Evan Moody
# 11/15/2021

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,13,13,Bella Union,UY,-30.2752,-57.6007,76.12,57,23,2.98,few clouds,2021-11-16 01:46:41
1,15,15,Hilo,US,19.7297,-155.0900,84.27,86,90,12.66,light rain,2021-11-16 01:43:14
2,20,20,Maragogi,BR,-9.0122,-35.2225,78.60,81,51,11.25,broken clouds,2021-11-16 01:46:44
3,23,23,Cabo San Lucas,MX,22.8909,-109.9124,83.50,74,100,2.93,overcast clouds,2021-11-16 01:46:23
4,28,28,Kapaa,US,22.0752,-159.3190,82.38,77,75,1.01,broken clouds,2021-11-16 01:46:47

In [20]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Trip to AUSTRALIA.
# Grab the first hotel from the results and store the name.
Australia_vacation_df = vacation_df.loc[(vacation_df["Country"] == "AU")]
Australia_vacation_df.dropna()

,City_ID,City_ID.1,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
12,55,55,Moree,AU,-29.4667,149.8500,75.22,25,0,14.97,clear sky,2021-11-16 01:46:57
30,133,133,Ballina,AU,-28.8667,153.5667,81.79,44,94,9.22,overcast clouds,2021-11-16 01:47:30
36,149,149,Yulara,AU,-25.2406,130.9889,80.44,18,0,8.05,clear sky,2021-11-16 01:47:36
45,196,196,Esperance,AU,-33.8667,121.9000,76.84,48,93,11.01,light rain,2021-11-16 01:47:56
52,225,225,Alice Springs,AU,-23.7000,133.8833,78.35,21,0,11.50,clear sky,2021-11-16 01:48:07
59,256,256,Byron Bay,AU,-28.6500,153.6167,81.72,39,83,8.32,broken clouds,2021-11-16 01:48:13
63,272,272,Sawtell,AU,-30.3833,153.1000,79.12,56,21,10.36,few clouds,2021-11-16 01:48:26
69,291,291,Hervey Bay,AU,-25.2986,152.8535,87.04,60,3,6.96,clear sky,2021-11-16 01:48:34
79,325,325,Port Hedland,AU,-20.3167,118.5667,87.85,42,52,9.22,broken clouds,2021-11-16 01:48:47
82,335,335,Yeppoon,AU,-23.1333,150.7333,85.78,54,2,9.66,clear sky,2021-11-16 01:48:50
121,480,480,Karratha,AU,-20.7377,116.8463,88.50,24,9,4.61,clear sky,2021-11-16 01:49:49
137,522,522,Mount Isa,AU,-20.7333,139.5000,83.97,14,22,12.66,few clouds,2021-11-16 01:50:04
146,543,543,Townsville,AU,-19.2500,146.8000,81.48,78,40,11.50,scattered clouds,2021-11-16 01:48:03

In [26]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [27]:
Australia_vacation_df = Australia_vacation_df[new_column_order]

In [28]:
Australia_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
12,55,Moree,AU,-29.4667,149.8500,75.22,clear sky
30,133,Ballina,AU,-28.8667,153.5667,81.79,overcast clouds
36,149,Yulara,AU,-25.2406,130.9889,80.44,clear sky
45,196,Esperance,AU,-33.8667,121.9000,76.84,light rain
52,225,Alice Springs,AU,-23.7000,133.8833,78.35,clear sky
59,256,Byron Bay,AU,-28.6500,153.6167,81.72,broken clouds
63,272,Sawtell,AU,-30.3833,153.1000,79.12,few clouds
69,291,Hervey Bay,AU,-25.2986,152.8535,87.04,clear sky
79,325,Port Hedland,AU,-20.3167,118.5667,87.85,broken clouds
82,335,Yeppoon,AU,-23.1333,150.7333,85.78,clear sky
121,480,Karratha,AU,-20.7377,116.8463,88.50,clear sky
137,522,Mount Isa,AU,-20.7333,139.5000,83.97,few clouds
146,543,Townsville,AU,-19.2500,146.8000,81.48,scattered clouds

In [30]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Let's pick by Minimum Temp to Maximum Temp cities. 
start = float(input("What is your Starting City_ID from AU List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from AU List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from AU List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from AU List you would like for your trip? "))
end = float(input("What is your Last City_ID from AU List you would like for your trip? "))

What is your Starting City_ID from AU List you would like for your trip? 291
What is your First Stop City_ID from AU List you would like for your trip? 225
What is your Second Stop City_ID from AU List you would like for your trip? 256
What is your Thirth Stop City_ID from AU List you would like for your trip? 291
What is your Last City_ID from AU List you would like for your trip? 335

In [31]:
# Start Vacation at:

vacation_start = Australia_vacation_df.loc[(Australia_vacation_df["City_ID"] == stop1)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = Australia_vacation_df.loc[(Australia_vacation_df["City_ID"] == stop2)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = Australia_vacation_df.loc[(Australia_vacation_df["City_ID"] == stop3)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = Australia_vacation_df.loc[(Australia_vacation_df["City_ID"] == end)]
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = Australia_vacation_df.loc[(Australia_vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0] 
                                     
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

Your Starting Destination is Alice Springs, AU
Your Frist Stop is Byron Bay, AU
Your Second Stop is Hervey Bay, AU
Your Thirth Stop is Yeppoon, AU
Your Last Stop in your vacation is Moree, AU

In [32]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
print(start)

Lat       -23.7
Lng    133.8833
Name: 52, dtype: object

In [33]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

Lat      -28.65
Lng    153.6167
Name: 59, dtype: object

In [34]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

Lat    -25.2986
Lng    152.8535
Name: 69, dtype: object

In [35]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

Lat    -23.1333
Lng    150.7333
Name: 82, dtype: object

In [36]:
end = vacation_end[["Lat", "Lng"]]
print(end)

Lat   -29.4667
Lng     149.85
Name: 12, dtype: object

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# USING DRIVING MODE!

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (-23.7, 133.8833)
stop1 = (-28.65, 153.6167)
stop2 = (-25.2986, 152.8535)
stop3 = (-23.1333, 150.7333)
end = (-29.4667, 149.85)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

mexico_vacation_df = pd.concat([Australia_vacation_df],ignore_index=True)
mexico_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
0,55,Moree,AU,-29.4667,149.8500,75.22,clear sky
1,133,Ballina,AU,-28.8667,153.5667,81.79,overcast clouds
2,149,Yulara,AU,-25.2406,130.9889,80.44,clear sky
3,196,Esperance,AU,-33.8667,121.9000,76.84,light rain
4,225,Alice Springs,AU,-23.7000,133.8833,78.35,clear sky
5,256,Byron Bay,AU,-28.6500,153.6167,81.72,broken clouds
6,272,Sawtell,AU,-30.3833,153.1000,79.12,few clouds
7,291,Hervey Bay,AU,-25.2986,152.8535,87.04,clear sky
8,325,Port Hedland,AU,-20.3167,118.5667,87.85,broken clouds
9,335,Yeppoon,AU,-23.1333,150.7333,85.78,clear sky
10,480,Karratha,AU,-20.7377,116.8463,88.50,clear sky
11,522,Mount Isa,AU,-20.7333,139.5000,83.97,few clouds
12,543,Townsville,AU,-19.2500,146.8000,81.48,scattered clouds

In [42]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
mark_info = [info_box_template.format(**row) for index, row in Australia_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = Australia_vacation_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map.
city_mark = Australia_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)

fig.add_layer(marker_layer)

In [44]:
fig

Figure(layout=FigureLayout(height='420px'))